ion-content {
  --background: #ffffff;
}

.top-image {
  height: 180px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(243, 43, 43, 0.5);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.form-container {
  position: absolute;
  top: 22vh;
  left: 0;
  right: 0;
  background: white;
  padding: 30px 20px 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
  }

  .otp-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 15px;

    input {
      width: 45px;
      height: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-radius: 8px;
      border: 1px solid #ccc;
      background: #b3b3b3;
      color: #fff;
      outline: none;
    }
  }

  .resend {
    text-align: center;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
  }

  .btn-pronto {
    --background: #b41414;
    --border-radius: 8px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
  }

  .footer {
    text-align: center;
    font-size: 12px;
    color: #000;
    margin-top: 15px;

    a {
      color: red;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
