<ion-content [fullscreen]="true">

  <div class="top-image">
    <img src="/assets/fotodefundo.jpg" alt="bgapp" />
  </div>

  <div class="form-container">
    <h2>Verifique sua identidade</h2>
    <p class="subtitle">Digite o código que enviamos para<br />
      <strong>***********.11@gmail.com</strong>
    </p>

    <div class="otp-container">
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
    </div>

    <p class="resend">Reenvie o código</p>

    <ion-button expand="block" class="btn-pronto">PRONTO</ion-button>

    <p class="footer">
      Ao assinar, você concorda com nossos<br />
      <a href="#">termos de serviço</a> e
      <a href="#">política de privacidade</a>
    </p>
  </div>
</ion-content>
