.splash-screen {
  --background: none;
  background: url('src/assets/fotodefundo.jpg') no-repeat center center / cover;
  position: relative;
  height: 100%;
  width: 100%;
}

.splash-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(169, 18, 18, 0.4) 0%,
    rgba(169, 18, 18, 0.8) 100%
  );
  z-index: 1;
}

.splash-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-10%);
}

.logo {
  width: 120px;
  margin-bottom: 12px;
}

.title {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  color: #ffffff;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.animate-fade {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

.animate-fade:nth-child(1) {
  animation-delay: 0.3s; /* logo */
}
.animate-fade:nth-child(2) {
  animation-delay: 0.6s; /* título */
}
.animate-fade:nth-child(3) {
  animation-delay: 0.9s; /* subtítulo */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
