// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /** primary **/
  --ion-color-primary: #ff8c00; /* Laranja escuro */
  --ion-color-primary-rgb: 255,140,0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #e07b00;
  --ion-color-primary-tint: #ff981a;

/* ... restante do arquivo ... */
}