<ion-header translucent]="true">
  <ion-toolbar>
     <ion-title class="ion-text-center">
   Termos&Condições 
    </ion-title>
    <ion-buttons slot="start">
    <ion-button color="primary"   routerLink="/config">
     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="orange" viewBox="0 0 24 24">
      <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6z"/>
    </svg>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="card-sobre">
      <ion-card-content class="ion-padding-horizontal">
        <p>Bem-vindo(a) ao  <strong class="laranja">Cozinha</strong>!</p>
        
        <p>A <strong>principal funcionalidade</strong> é um scanner de alimentos: basta escanear um ingrediente
          e o sistema identifica o item, sugerindo receitas correspondentes de forma rápida e inteligente.</p>
        
        <p>Ao utilizar nosso aplicativo, você concorda com os seguintes termos:</p>

   

        <p><strong>1. Uso do Aplicativo </strong> </p>
        <P>O   <strong class="laranja">Cozinha</strong> tem como objetivo oferecer receitas culinárias e funcionalidades como busca, salvamento e compartilhamento de receitas.
O uso é destinado apenas para fins pessoais e não comerciais.</P>
        <p><strong>2. Cadastro e Informações </strong></p>
        <P>Ao criar uma conta, você se compromete a fornecer informações verdadeiras e atualizadas.

        Você é responsável por manter a confidencialidade da sua senha.</P>
        <p><strong>3. Conteúdo </strong> </p>
        <P>
As receitas disponibilizadas são para fins informativos e podem conter ingredientes que causem alergias.

Sempre verifique se você não possui restrições alimentares antes de preparar as receitas.

Não garantimos que as informações nutricionais estejam 100% corretas.</P>
        <p><strong>4. Responsabilidade</strong> </p>
        <P>O Cozinha não se responsabiliza por qualquer dano, alergia ou problema de saúde causado pelo uso das receitas ou informações fornecidas.</P>
        <p><strong>5. Propriedade Intelectual </strong> 
</p>
        <P>Todo o conteúdo do aplicativo (layout, design, logotipo, textos, imagens) é de propriedade do Cozinha ou de seus licenciadores e não pode ser reproduzido sem autorização.</P>
        <p><strong>6. Alterações dos Termos </strong> </p>
        <P>Podemos atualizar estes Termos de Uso a qualquer momento.

A versão mais recente estará sempre disponível no aplicativo.</P>
       <p><strong>7. Contato </strong></p>
       <P>Em caso de dúvidas, sugestões ou problemas, entre em contato pelo e-mail:  <strong class="laranja">suaCozinha@gmail.com</strong>
.</P>
        
      </ion-card-content>
    </ion-card>
</ion-content>